@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
        <h1 >Git Academy</h1>
        <br />
        <br />
        <h3 >Use sua Conta do Github pra Entrar</h3>

        <div class="info-form">
            <form asp-action="Login" method="post">
                <button type="submit" class="btn btn-github">
                    <i class="fa fa-github"></i>
                    Login Com Github
                </button>
            </form>
        </div>

    </div>
</div>
@{
}
